# Build mobile / Flet / Flutter
build/
.dart_tool/
.flet/
.flutter-plugins
.flutter-plugins-dependencies

# Python
.venv/
__pycache__/
*.pyc

# Banco local
*.db
*.sqlite
*.sqlite3

# Debugs
debug/
assets/debug*.png

# Exports gerados
exports/*
!exports/.gitkeep
build/
build_log.txt
debug/
assets/debug*.png
